.DS_Store
.vscode/
.stack-work/
__pycache__/
stack.yaml.lock
*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*~
*.dvi
*.out.ps
*.exe
*.o
*.bkp
*.tix
